@mixin breakpoint {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

body {
  font-family: "Poppins";
}

.header {
  padding: 1rem 0;

  @include breakpoint() {
    padding: 3rem 0 1.5rem;
  }

  h1 {
    margin: 0;
  }
  .title {
    font-size: 3rem;
    text-decoration: none;
    color: #000;
    padding-top: 2rem;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0.5rem 0 1rem;
    padding: 0;

    li a {
      color: #999999;
      font-size: 0.9rem;
      margin-right: 1.3rem;
      text-decoration: none;
    }

    li a:hover {
      color: #666666;
    }
  }
}
