.indexCard {
  width: 311px;
  margin: 0 auto;
}

.indexCard h2 {
  font-family: var(--heading-font);
  font-size: 38px;
  margin: 22px auto;
}

.indexCard p {
  font-family: var(--body-font);
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.indexCard button {
  margin: 20px 0;
}

.indexImg {
  height: 299px;
  width: 311px;
  margin-bottom: 36px;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .indexCard {
    width: 678px;
    display: flex;
    justify-content: space-between;
  }

  .indexContent {
    width: 281px;
  }

  .indexCard button {
    margin-bottom: 46px;
  }

  .indexImg {
    width: 339px;
    height: 314px;
    margin-top: 20px;
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1440px) {
  .indexCard {
    width: 1015px;
  }

  .indexContent {
    height: 500px;
  }

  .indexCard h2 {
    margin-top: 100px;
  }

  .indexCard button {
    margin-bottom: 100px;
  }

  .indexImg {
    margin-top: unset;
    width: 540px;
    height: 500px;
  }
}
