@mixin breakpoint {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

// 800px Breakpoint
@mixin sm-pc {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin imgBreak {
  @media screen and (min-width: 600px) {
    @content;
  }
}

.wrapper {
  .imgDiv {
    height: 300px;
    width: 100%;
    margin-bottom: 1.5rem;
    overflow: hidden;

    @include imgBreak() {
      height: 600px;
    }

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;

      @include imgBreak() {
        height: 100%;
      }
    }
  }

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 0.5rem;

    span {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 1.2rem;
    color: #999999;
    text-transform: uppercase;
    font-weight: 600;
  }

  .skillsDiv {
    margin: 40px 0;

    ul {
      padding: 0;

      li {
        list-style-type: none;

        span {
          font-weight: 600;
          font-style: italic;
        }
      }
    }
  }

  .cardDiv {
    padding-top: 0.5rem;

    .cardWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      @include sm-pc() {
        justify-content: flex-start;
        gap: 20px;
      }

      h3 {
        margin: 10px 0;
        padding: 0 8px;
      }

      p {
        font-size: 0.85rem;
        color: #999999;
        margin: 0;
        padding: 0 10px;
      }

      img {
        border-radius: 8px 8px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
