.vcrWrapper header {
  background-image: url("../../assets/mobile/vcr-hero.jpg");
}

.vcrWrapper .previewOne {
  background-image: url("../../assets/mobile/vcr-preview-one.jpg");
}

.vcrWrapper .previewTwo {
  background-image: url("../../assets/mobile/vcr-preview-two.jpg");
}

@media screen and (min-width: 768px) {
  .vcrWrapper header {
    background-image: url("../../assets/tablet/vcr-hero.jpg");
  }

  .vcrWrapper .previewOne {
    background-image: url("../../assets/tablet/vcr-preview-one.jpg");
  }

  .vcrWrapper .previewTwo {
    background-image: url("../../assets/tablet/vcr-preview-two.jpg");
  }
}

@media screen and (min-width: 1440px) {
  .vcrWrapper header {
    background-image: url("../../assets/desktop/vcr-hero.jpg");
  }
}
