.clockWrapper header {
  background-image: url("../../assets/mobile/clock-hero.jpg");
}

.clockWrapper .previewOne {
  background-image: url("../../assets/mobile/clock-preview-one.jpg");
}

.clockWrapper .previewTwo {
  background-image: url("../../assets/mobile/clock-preview-two.jpg");
}

@media screen and (min-width: 768px) {
  .clockWrapper .ctaSection {
    flex-direction: unset;
  }

  .clockWrapper header {
    background-image: url("../../assets/tablet/clock-hero.jpg");
  }

  .clockWrapper .previewOne {
    background-image: url("../../assets/tablet/clock-preview-one.jpg");
  }

  .clockWrapper .previewTwo {
    background-image: url("../../assets/tablet/clock-preview-two.jpg");
  }
}

@media screen and (min-width: 1440px) {
  .clockWrapper header {
    background-image: url("../../assets/desktop/clock-hero.jpg");
  }
}
